// colors
$primary-color: #343541;
$secondary-color: #FFFFFF;
$box-color: #F7F7F8;
$okay: #575756;

$maybe: #3066BE;
$black: #2a2a2a;

// #629460 måske den her farve #136F63 grøn, #FFCA3A gul, #3066BE
// fonts
$futura: "futura-pt", sans-serif;
$newhero: "new-hero", sans-serif;
$poppins: "poppins", sans-serif;
$montserrat: "montserrat", sans-serif;

// $header: ;
// $text: ;


// New hero


// New Hero Thin
// font-family: "new-hero", sans-serif;
// font-weight: 100;
// font-style: normal;
// New Hero Light
// font-family: "new-hero", sans-serif;
// font-weight: 300;
// font-style: normal;
// New Hero Light Italic
// font-family: "new-hero", sans-serif;
// font-weight: 300;
// font-style: italic;
// New Hero Regular
// font-family: "new-hero", sans-serif;
// font-weight: 400;
// font-style: normal;
// New Hero Regular Italic
// font-family: "new-hero", sans-serif;
// font-weight: 400;
// font-style: italic;
// New Hero Medium
// font-family: "new-hero", sans-serif;
// font-weight: 500;
// font-style: normal;
// New Hero Medium Italic
// font-family: "new-hero", sans-serif;
// font-weight: 500;
// font-style: italic;
// New Hero SemiBold
// font-family: "new-hero", sans-serif;
// font-weight: 600;
// font-style: normal;
// New Hero SemiBold Italic
// font-family: "new-hero", sans-serif;
// font-weight: 600;
// font-style: italic;
// New Hero Bold
// font-family: "new-hero", sans-serif;
// font-weight: 700;
// font-style: normal;
// New Hero Bold Italic
// font-family: "new-hero", sans-serif;
// font-weight: 700;
// font-style: italic;
// New Hero ExtraBold
// font-family: "new-hero", sans-serif;
// font-weight: 800;
// font-style: normal;
// New Hero Hairline
// font-family: "new-hero-hairline", sans-serif;
// font-weight: 100;
// font-style: normal;
// New Hero Hairline Italic
// font-family: "new-hero-hairline", sans-serif;
// font-weight: 100;
// font-style: italic;



// poppins

// Poppins Thin
// font-family: "poppins", sans-serif;
// font-weight: 100;
// font-style: normal;
// Poppins Light
// font-family: "poppins", sans-serif;
// font-weight: 300;
// font-style: normal;
// Poppins Regular
// font-family: "poppins", sans-serif;
// font-weight: 400;
// font-style: normal;
// Poppins Italic
// font-family: "poppins", sans-serif;
// font-weight: 400;
// font-style: italic;
// Poppins Medium
// font-family: "poppins", sans-serif;
// font-weight: 500;
// font-style: normal;
// Poppins SemiBold
// font-family: "poppins", sans-serif;
// font-weight: 600;
// font-style: normal;
// Poppins Bold
// font-family: "poppins", sans-serif;
// font-weight: 700;
// font-style: normal;
// Poppins Bold Italic
// font-family: "poppins", sans-serif;
// font-weight: 700;
// font-style: italic;


// futura


// Futura PT Light
// font-family: "futura-pt", sans-serif;
// font-weight: 300;
// font-style: normal;
// Futura PT Light Oblique
// font-family: "futura-pt", sans-serif;
// font-weight: 300;
// font-style: italic;
// Futura PT Book
// font-family: "futura-pt", sans-serif;
// font-weight: 400;
// font-style: normal;
// Futura PT Book Oblique
// font-family: "futura-pt", sans-serif;
// font-weight: 400;
// font-style: italic;
// Futura PT Medium
// font-family: "futura-pt", sans-serif;
// font-weight: 500;
// font-style: normal;
// Futura PT Medium Oblique
// font-family: "futura-pt", sans-serif;
// font-weight: 500;
// font-style: italic;
// Futura PT Demi
// font-family: "futura-pt", sans-serif;
// font-weight: 600;
// font-style: normal;
// Futura PT Heavy
// font-family: "futura-pt", sans-serif;
// font-weight: 700;
// font-style: normal;
// Futura PT Heavy Oblique
// font-family: "futura-pt", sans-serif;
// font-weight: 700;
// font-style: italic;
// Futura PT Extra Bold
// font-family: "futura-pt", sans-serif;
// font-weight: 800;
// font-style: normal;
// Futura PT Bold
// font-family: "futura-pt-bold", sans-serif;
// font-weight: 700;
// font-style: normal;
// Futura PT Bold Oblique
// font-family: "futura-pt-bold", sans-serif;
// font-weight: 700;
// font-style: italic;
// Futura PT Cond Book
// font-family: "futura-pt-condensed", sans-serif;
// font-weight: 400;
// font-style: normal;
// Futura PT Cond Book Oblique
// font-family: "futura-pt-condensed", sans-serif;
// font-weight: 400;
// font-style: italic;
// Futura PT Cond Bold
// font-family: "futura-pt-condensed", sans-serif;
// font-weight: 700;
// font-style: normal;
// Futura PT Cond Bold Oblique
// font-family: "futura-pt-condensed", sans-serif;
// font-weight: 700;
// font-style: italic;