@import '~@/assets/scss/variables';
@import '~@/assets/scss/fonts';

.footer-section {
    width: 100%;
    background-color: white;
    position: relative;
    .footer-graphic-container {
        position: absolute;
        z-index: 2;
        right: 0;
        // padding: 0 80px 0 0;
    }
    .footer-wrapper {
        position: relative;
        z-index: 2;
        padding: 100px 0 0 80px;
        .footer-container {
            display: flex;
            align-items: center;
            gap: 20px;
            .footer-left {
                min-width: 500px;
                h3 {
                    font-size: 28px;
                    color: $maybe;
                    margin: 0;
                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        margin: 10px 0 0 10px;
                        background-image: url('assets/icons/phone.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
                p {
                    font-size: 14px;
                    max-width: 350px;
                }
            }
            .footer-right {
                display: flex;
                gap: 10px;
                max-width: 450px;
                h3 {
                    color: $maybe;
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
}