@import 'variables';
@import 'fonts';

// navigation bar
.nav-wrapper {
    position: absolute;
    width: 100%;
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 80px;
    }
    // nav-left
    .nav-left {
        background-image: url('/images/si-logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        width: 40px;
        position: relative;
        z-index: 5;
    }
    .nav-right {
        display: flex;
        position: relative;
        z-index: 5;
        font-family: $nav-font;
        font-weight: 300;
        font-style: normal;
        
        a {
            text-decoration: none;
            color: $secondary-color;
            position: relative;
        }
        a::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: -2px;
            left: 50%;
            background-color: $primary-color;
            transition: all .15s ease-in-out;
        }
        a:hover::before {
            width: 100%;
            left: 0;
          }
        .link-wrapper {
            padding: 5px 35px 5px 0;
        }
        .link-wrapper:nth-child(3) {
            padding: 5px 0 5px 0;
        }
    }
}



// hero content stuff
.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    padding: 200px 80px;
    .content-header-container {
        max-width: 550px;
        padding-bottom: 80px;
        h1 {
            font-family: $text-font;
            font-weight: 800;
            font-style: normal;
            font-size: 42px;
            line-height: 62px;
            color: $primary-color;
            margin: 0;
        }
    }
    .content-text-container {
        max-width: 550px;
        position: relative;
        padding-bottom: 60px;
        p {
            color: $secondary-color;
            font-family: $text-font;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 24px;
            margin: 0;
        }
    }
    .content-buttons-container {
        a {
            text-decoration: none;
            color: $secondary-color;
            border: solid 1px $primary-color;
            border-radius: 30px;
            padding: 10px 35px;
            background-color: $primary-color;
            font-family: "futura-pt", sans-serif;
            font-weight: 400;
            font-style: normal;
            transition: background-color .4s, border .4s, color .4s;
            &:hover {
                background-color: $secondary-color;
                border: solid 1px $secondary-color;
                color: $primary-color;
            }
        }
        a:nth-child(2) {
            border: solid 1px $secondary-color;
            background-color: transparent;
            margin-left: 20px;
            &:hover {
                background-color: $primary-color;
                border: solid 1px $primary-color;
                color: $secondary-color;
            }
        }
    }
}


// Hero section
.hero {
    position: relative;
    z-index: 1;
    .hero-background-image-container {
        background-image: url("/images/hero-img.jpg");
        transform: scaleX(-1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        z-index: -1;
    }
    // background-image: url("../images/hero-img.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 100vh;
    // position: relative;
    // padding: 20px 80px;
    // z-index: 1;



    // hero overlay
    .hero-overlay-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 20%;
        z-index: -1;
        height: 100vh;
    }
}





// tilbyder section
.tilbyder-section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: white;
    .header-container {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        h2 {
            color: $primary-color;
            font-size: 46px;
            line-height: 56px;
        }
    }


    .boxes-wrapper {
        padding: 0 80px 100px 80px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        .boxes-container {
            display: flex;
            justify-content: space-around;
            position: relative;
            column-gap: 20px;
        }

        .box-content {
            background-color: $box-color;
            max-width: 400px;
            height: auto;
            box-shadow: 2px 2px 3px #cecece;
            display: flex;
            justify-content: center;
            padding: 50px 30px 50px 30px;
            text-align: center;
            position: relative;
            align-items: center;
            flex-direction: column;
            row-gap: 20px;
            p {
                margin: 0;
                font-size: 14px;
                color: $primary-color;
            }
        }
        #box-one::before {
            content: "";
            background-image: url('/icons/shield.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: relative;
        }
        #box-two::before {
            content: "";
            background-image: url('/icons/zap.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: relative;
        }
        #box-three::before {
            content: "";
            background-image: url('/icons/trending-up.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: relative;
        }
    }
}

// parralax scroll section
#parallax {
    position: relative;
    .parallax-text-overlay {
        height: 80vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: black;
        opacity: 20%;
    }
    .parallax-text-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
            position: relative;
            color: $secondary-color;
        }
    }
    .parallax-image-wrapper {
        margin-top: -100vh;
        height: 180vh;
        width: 100%;
        position: absolute;
        top: 0px;
        z-index: -1;
        .parallax-image-container {
            height: 100vh;
            width: 100%;
            position: sticky;
            top: 0px;
            img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .tilbyder-section {
        .boxes-container {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            .box-content {
                width: 100%;
            }
        }
    }
}