@import 'variables';
@import 'fonts';

// hero content stuff
.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    .content-header-container {
        max-width: 550px;
        padding-bottom: 60px;
        h1 {
            font-family: $poppins;
            font-weight: 800;
            font-style: normal;
            font-size: 42px;
            line-height: 62px;
            color: $secondary-color;
            margin: 0;
            text-align: center;
        }
    }
    .content-text-container {
        max-width: 550px;
        position: relative;
        padding-bottom: 60px;
        p {
            color: $secondary-color;
            font-family: $poppins;
            font-weight: 300;
            font-style: normal;
            font-size: 14px;
            line-height: 24px;
            margin: 0;
        }
    }
    .content-buttons-container {
        display: flex;
        a {
            text-decoration: none;
            color: $secondary-color;
            border: solid 1px $secondary-color;
            border-radius: 30px;
            padding: 10px 35px;
            background-color: transparent;
            font-family: "futura-pt", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 14px;
            transition: background-color .4s, border .4s, color .4s;
            &:hover {
                background-color: $maybe;
                border: solid 1px $maybe;
                // color: $primary-color;   
            }
        }
        a:nth-child(2) {
            border: solid 1px $secondary-color;
            background-color: transparent;
            margin-left: 20px;
            &:hover {
                background-color: $maybe;
                border: solid 1px $maybe;
                color: $secondary-color;
            }
        }
    }
}


// Hero section
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    .hero-background-image-container {
        height: 100vh;
        width: 100%;
        position: relative;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: .5;
        }
    }

    // hero overlay
    .hero-overlay-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 20%;
        z-index: -1;
        height: 100vh;
    }
}








// tilbyder section
.tilbyder-section {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    background-color: white;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    .tegning-grafik {
        position: absolute;
        margin-top: -310px;
        margin-left: -130px;
        z-index: 0;
    }
    .header-wrapper {
        position: relative;
        .header-container {
            display: flex;
            justify-content: center;
            padding: 20px 0 60px 0;
            h2 {
                color: $primary-color;
                font-size: 46px;
                line-height: 56px;
                margin: 0;
            }
        }
    }
    .boxes-wrapper {
        .boxes-container {
            display: flex;
            justify-content: space-evenly;
            position: relative;
            column-gap: 10px;
        }

        .box-content {
            background-color: $box-color;
            max-width: 400px;
            min-width: 350px;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            display: flex;
            justify-content: flex-start;
            padding: 50px 30px 50px 30px;
            position: relative;
            flex-direction: column;
            row-gap: 20px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            font-family: $poppins;
            font-weight: 300;
            line-height: 24px;
            p {
                margin: 0;
                font-size: 14px;
                color: $okay;
            }
        }
        #box-one::before {
            content: "";
            background-image: url('/icons/shield.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: relative;
        }
        #box-two::before {
            content: "";
            background-image: url('assets/icons/check-circle.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: relative;
        }
        #box-three::before {
            content: "";
            background-image: url('assets/icons/heart.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 25px;
            width: 25px;
            position: relative;
        }
    }
    .ring-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        h3 {
            margin: 0;
            color: $primary-color;
            font-weight: 200;
            font-size: 28px;
        }
        p {
            margin: 0;
            font-size: 46px;
            color: $maybe;
            font-weight: 400;
            // &::before {
            //     content: "";
            //     display: inline-block;
            //     position: absolute;
            //     width: 40px;
            //     height: 40px;
            //     margin: 10px 0 0 10px;
            //     background-image: url('assets/icons/phone.svg');
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     background-size: contain;
            // }
        }
        .line {
            width: 30%;
            height: 1px;
            margin: 30px 0;
            background-color: $primary-color;
        }
    }
}


@media screen and (max-width: 1120px) {
    .tilbyder-section {
        .boxes-container {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            .box-content {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .tilbyder-section {
        .tegning-grafik {
            display: none;
        }
    }
    .hero-content-wrapper {
        padding: 0 20px;
        .content-header-container {
            h1 {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .tilbyder-section {
        padding: 30px 0;
        .boxes-wrapper {
            padding: 0;
            .boxes-container {
                .box-content {
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
        .header-wrapper {
            .header-container {
                h2 {
                    font-size: 30px;
                }
            }
        }
        .tegning-grafik {
            display: none;
        }
        .ring-container {
            padding: 60px 20px 0 20px;
            h3 {
                font-size: 18px;
                text-align: center;
            }
            p {
                font-size: 36px;
            }
        }
    }
}   